@model IEnumerable<AdminTools.Data.Models.Asset>
@{
    ViewData["Title"] = "Assets";
    ViewData["Header"] = "Assets";
    ViewData["Description"] = "Cambium IT Team intranet site";
}

@section stylesheets {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css" />
}
<div class="table-responsive">
    <table id="assets" class="table table-hover table-sm text-sm-left" cellpadding="0">
        <thead class="thead-inverse">
            <tr>
                <th>Asset Tag</th>
                <th>Name</th>
                <th>Serial Number</th>
                <th>Business Unit</th>
                <th>Location</th>
                <th>Application</th>
                <th>Purchase Date</th>
                <th>Deploy Date</th>
                <th>Service Expiration</th>
                <th>Total Cores</th>
                <th>Memory</th>
                <th>Operating System</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="Asset" asp-action="Details" asp-route-id="@item.Id">@item.AssetTag</a></td>
                    <td>@item.Name</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.BuinessUnit</td>
                    <td>@item.Location</td>
                    <td>@item.Application</td>
                    <td>@item.PurchaseDate</td>
                    <td>@item.DeployDate</td>
                    <td>@item.ServiceExpiration</td>
                    <td>@item.TotalCores</td>
                    <td>@item.Memory</td>
                    <td>@item.OperatingSystem</td>
                </tr>
            }

        </tbody>
    </table>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#assets').DataTable({
                "paging": false,
                "ordering": true,
                "info": false
            });
        });
    </script>
}